.whoWeAre_WhySection{
    min-height: 60vh;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.whoWeAre_WhyContainer{ width: 90%;}
.textContent { width: 35rem;}
.whoWeAre_WhyImg{ height: 25rem;}

.textContent h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--segundoColor);
}

/* ----------------------------------------- */

.WhatWeDoSection {
    min-height: 75vh;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.WhatWeDoTitle { width: 80%;}
.WhatWeDoTitle h1{ font-size: 4rem;}
.WhatWeDoTitle h1 span {color: var(--segundoColor)}
.WhatWeDo{width: 90%;}
/* --------------- WE ARE CREATIVE ------------- */
.WeAreCreative {
    margin-top: 50px;
    height: 19rem;
    width: 100%;
    --opacidad-negro: 0.6;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("./assets/weAreCreative.jpg"); background-repeat: no-repeat; background-position: center; background-size: cover;
}
.WeAreCreative h1{ font-size: 3rem; color: white; }

/* ----------------------- Map ------------------- */

.mapSection {
    height: 80vh;
    width: 100%;
    background-color: #06c214;
}
.mapInfo{
    height: 100%;
    width: 50%;
    background-color:aquamarine;
}
.mapContainer{
    height: 80%;
    width: 50%;
    background-color: aliceblue;
}
/* -------------------------------------------- */

@media screen and (max-width: 991px){
    .textContent{width: 100%;}
    .whoWeAre_WhyImg{margin-top: 30px;}
 }
 @media screen and (max-width: 720px){
    .whoWeAre_WhyImg{ width: 100%;}
 }