.hero-section {
    position: relative;
    width: 100%;
}

.img-container{
    max-height: 100vh;
    background-color: white;
}

.hero-img{
    width: 100%;
}

.carousel-caption{
    top: 35%;
}

.carousel-caption h5 {
    font-size: 90px;
}

.carousel-caption p {
    font-size: 30px;
}

.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
}

/* responsive */
@media screen and (max-width: 818px) {
    .wave{
        height: 70px;
    }
    .hero-img{
        height: 480px;
    }
    .carousel-caption h5 {
        font-size: 75px;
    }
    .carousel-caption p {
        font-size: 25px;
    }
}
@media screen and (max-width: 688px) {
    .hero-img{
        width: 688px;
        height: 480px;
    }
    .carousel-caption h5 {
        font-size: 55px;
    }
    .carousel-caption p {
        font-size: 18px;
    }
}