.registerSection{
    height: auto;
    width: 100%;
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.registerContainer{
    height: 90%;
    width: 85%;
    border-radius: 20px;
    box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.5);
}
.registerImg{
    --opacidad-negro: 0.6;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("./assets/registerImg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: 45%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.register{
    width: 55%;
    height: 100%;
    background-color: white;
    padding:30px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.grupoDeBotones {
    position: relative;
    margin-left: 30px;
}
.btnRegistrar {
    display: flex;
    gap: 30px;
}
.stepsCard{
    height: 20em;
    width: 35em;
    display: flex;
}
.stepsIcon{
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stepsText{
    background-color: white;
    width: 95%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.5);
}
.text {
    z-index: 3;
    text-align: center;
    font-size: 15em;
    text-transform: uppercase;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    color: var(--segundoColor);
    text-shadow:    1px 1px 1px var(--primerColor),
                    1px 2px 1px var(--primerColor),
                    1px 3px 1px var(--primerColor),
                    1px 4px 1px var(--primerColor),
                    1px 5px 1px var(--primerColor),
                    1px 6px 1px var(--primerColor),
                    1px 7px 1px var(--primerColor),
                    1px 8px 1px var(--primerColor),
                    1px 9px 1px var(--primerColor),
                    1px 10px 1px var(--primerColor),
                    1px 11px 1px var(--primerColor),
                    1px 12px 1px var(--primerColor),
                    1px 13px 1px var(--primerColor),
                    1px 14px 1px var(--primerColor),
                    1px 15px 1px var(--primerColor),
                    1px 16px 1px var(--primerColor),
                    1px 18px 6px rgba(16, 16, 16, 0.4),
                    1px 22px 10px rgba(16, 16, 16, 0.5),
                    1px 25px 35px rgba(16, 16, 16, 0.5),
                    1px 30px 60px rgba(16, 16, 16, 0.5);

}
@media (max-width : 767px){
    .registerImg {
        width: 100%;
        height: 40vh;
        border-top-right-radius: 20px;
        border-bottom-left-radius:0px;
    }
    .register {
        width: 100%;
        border-bottom-left-radius: 20px;
        border-top-right-radius:0px;
    }
}