.navHeader {
  z-index: 10;
  width: 100%;
  background-color: transparent;
  position: absolute;
}

.active{
  position: fixed;
  background-color: white;
  transition: 0.6s;
}

.alt{
  transition: 0.6s;
  height: 5rem;
}